<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.20thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.tud.reachablemethods.analysis.impl.callgraphs" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.tud.reachablemethods.analysis.dataaccess" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>