openapi: 3.0.0
info:
  version: "0.0.1"
  title: "Online Static Analysis Interface"
servers:
  - url: "http://ls5vs029.cs.tu-dortmund.de:9090/api"
    description: "Production Server with real data"
  - url: "http://localhost:33449/api"
    description: "Local instance for debugging"
paths:

  /packages:
    get:
      tags: ["Package Related Information"]
      description: "Returns a paginated list of all package names that have been indexed at this point."
      parameters:
        - name: skip
          description: "Pagination: Number of package names to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of package names to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
      responses:
        '200':
          description: "List of all package names that have been indexed at this point."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          
  /packages/{packageName}:
    get:
      tags: ["Package Related Information"]
      description: "Retrieves information about a single software package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "A Package Information object containing all classes, versions and the package name"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageInformation"
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/classes:
    get:
      tags: ["Package Related Information"]
      description: "Returns a list of class information objects for classes that are present in at least one artifact of this package."
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "List of all classes that are contained in at least one artifact of this package"
          content:
            application/json:
              schema:
               $ref: "#/components/schemas/PackageClassList"
        '404':
          description: "If the package is not found, 404 is returned."
  
  /packages/{packageName}/classes/{className}:
    get:
      tags: ["Package Related Information"]
      description: "Returns a package class information object for the given class in the context of the given package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software package"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Package class information object for the given class."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageClassInformation"
        '404':
          description: "If either the package or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions:
    get:
      tags: ["Package Related Information"]
      description: "Retrieves the list of versions for the given package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/results:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/results/{analysisName}:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the analysis are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/jarfile:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/results:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/results/{analysisName}:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the analysis are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes/{className}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/classes/{className}/classfile:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/classes/{className}/results:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes/{className}/results/{analysisName}:
    get:
      tags: ["Package Related Information", "Analysis Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version, the class or the analysis are not found, 404 is returned."
          
  /analyses:
    get:
      tags: ["Analysis Related Information"]
      description: ""
      responses:
        '200':
          description: ""
  
  /analyses/{analysisName}:
    get:
      tags: ["Analysis Related Information"]
      description: ""
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the analysis is not found, 404 is returned."
  
  /analyses/{analysisName}/processed:
    get:
      tags: ["Analysis Related Information"]
      description: ""
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the analysis is not found, 404 is returned."
  
  /analysis/{analysisName}/results:
    get:
      tags: ["Analysis Related Information"]
      description: ""
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the analysis is not found, 404 is returned."
          
  /processing/enqueuePackage:
    post:
      tags: ["Processing Related Enpoints"]
      description: ""
      responses:
        '200':
          description: ""
  
  /processing/runAnalysis:
    post:
      tags: ["Processing Related Enpoints"]
      description: ""
      responses:
        '200':
          description: ""

components:
  schemas:
    StringList:
      type: array
      items:
        type: string
    
    ConditionallyActiveElementEntry:
      type: object
      properties:
        'alwaysActive':
          type: boolean
        'activeIn':
          type: array
          items:
            type: string
        
    PackageInformation:
      type: object
      properties:
        'classes':
          $ref: '#/components/schemas/StringList'
        'versions':
          $ref: '#/components/schemas/StringList'
        'name':
          type: string
    
    PackageClassList:
      type: array
      items:
        type: object
        properties:
          'thisType':
            type: string
          'alwaysActive':
            type: boolean
          'activeIn':
            $ref: '#/components/schemas/StringList'
    
    PackageClassInformation:
      type: object
      properties:
        'thisType':
          type: string
        'activeIn':
          $ref: '#/components/schemas/StringList'
        'superTypes':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
        'flags':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
        'methods':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
          
        
  