openapi: 3.0.0
info:
  version: "0.0.1"
  title: "Online Static Analysis Interface"
servers:
  - url: "http://ls5vs029.cs.tu-dortmund.de:9090/api"
    description: "Production Server with real data"
  - url: "http://localhost:33449/api"
    description: "Local instance for debugging"
paths:

  /entities:
    get:
      tags: ["Entity Related Information"]
      description: "Returns a paginated list of all program entities index at this point."
      parameters:
        - name: skip
          description: "Pagination: Number of entities to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of entities to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
        - name: language
          description: "Programming language to filter for"
          in: query
          required: false
          schema:
            type: string
        - name: kind
          description: "Entity kind to filter for"
          in: query
          required: false
          schema:
            type: string
        - name: parent
          description: "Entity parent identifier to filter for"
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: "List of all entities matching the requested filters."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProgramEntity"
  
  /entities/{entityIdent}:
    get:
      tags: ["Entity Related Information"]
      description: "Returns information on the program entity with the given identifier."
      parameters:
        - name: entityIdent
          description: "Identifier of the entity to retrieve"
          in: path
          required: true
          schema:
            type: string
        
      responses:
        '200':
          description: "Requested Program Entity is returned"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgramEntity"
        '404':
          description: "If the entity identifier is not found, 404 is returned."
  
  /entities/{entityIdent}/children:
    get:
      tags: ["Entity Related Information"]
      description: "Returns a paginated list of program entities that are children of the program entity with the given identifier."
      parameters:
        - name: entityIdent
          description: "Identifier of the entity to retrieve children for"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of entities to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of entities to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
        
      responses:
        '200':
          description: "List of children for the given program entity"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProgramEntity"
        '404':
          description: "If the entity identifier is not found, 404 is returned."
          
  
  /entities/{entityIdent}/processedBy:
    get:
      tags: ["Entity Related Information"]
      description: "Returns a paginated list of analysis runs that processed the program entity with the given identifier."
      parameters:
        - name: entityIdent
          description: "Identifier of the entity to retrieve analysis runs for"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of runs to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of runs to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
        
      responses:
        '200':
          description: "List of analysis runs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnalysisRunInformation"
        '404':
          description: "If the entity identifier is not found, 404 is returned."  

  /entities/{entityIdent}/results:
    get:
      tags: ["Entity Related Information"]
      description: "Returns a paginated list of analysis results for the program entity with the given identifier."
      parameters:
        - name: entityIdent
          description: "Identifier of the entity to retrieve results for"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of results to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of results to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
        - name: analysis
          description: "Filter for analysis names"
          in: query
          required: false
          schema:
            type: string
        
      responses:
        '200':
          description: "List of results being returned"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: "If the entity identifier is not found, 404 is returned."

  /packages:
    get:
      tags: ["Package Related Information"]
      description: "Returns a paginated list of all package names that have been indexed at this point."
      parameters:
        - name: skip
          description: "Pagination: Number of package names to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of package names to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 500
      responses:
        '200':
          description: "List of all package names that have been indexed at this point."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringList"
          
  /packages/{packageName}:
    get:
      tags: ["Package Related Information"]
      description: "Retrieves information about a single software package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "A Package Information object containing all classes, versions and the package name"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageInformation"
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/classes:
    get:
      tags: ["Package Related Information"]
      description: "Returns a list of class information objects for classes that are present in at least one artifact of this package."
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "List of all classes that are contained in at least one artifact of this package"
          content:
            application/json:
              schema:
               $ref: "#/components/schemas/PackageClassList"
        '404':
          description: "If the package is not found, 404 is returned."
  
  /packages/{packageName}/classes/{className}:
    get:
      tags: ["Package Related Information"]
      description: "Returns a package class information object for the given class in the context of the given package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software package"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Package class information object for the given class."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageClassInformation"
        '404':
          description: "If either the package or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions:
    get:
      tags: ["Package Related Information"]
      description: "Retrieves the list of versions for the given package"
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/results:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If the package is not found, 404 is returned."
          
  /packages/{packageName}/results/{analysisName}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the analysis are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/jarfile:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/results:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package or the version are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/results/{analysisName}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version."
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the analysis are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes/{className}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/classes/{className}/classfile:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
          
  /packages/{packageName}/versions/{versionName}/classes/{className}/results:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version or the class are not found, 404 is returned."
  
  /packages/{packageName}/versions/{versionName}/classes/{className}/results/{analysisName}:
    get:
      tags: ["Package Related Information"]
      description: ""
      parameters:
        - name: packageName
          description: "Unique name of the software package (library name)"
          in: path
          required: true
          schema:
            type: string
        - name: versionName
          description: "Unique name of the artifact version"
          in: path
          required: true
          schema:
            type: string
        - name: className
          description: "Unique name of a class inside the given software artifact"
          in: path
          required: true
          schema:
            type: string
        - name: analysisName
          description: "Unique name of an analysis that was executed for the given software artifact"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ""
        '404':
          description: "If either the package, the version, the class or the analysis are not found, 404 is returned."
          
  /analyses:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns a paginated list of all analyses registered"
      parameters:
        - name: skip
          description: "Pagination: Number of analyses to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of analyses to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: "List of analysis informations"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnalysisInformation"
  
  /analyses/{analysisName}:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns information on the analysis with the given name"
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Analysis Information for the analysis with the given name."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisInformation"
        '404':
          description: "If the analysis is not found, 404 is returned."
  
  /analyses/{analysisName}/runs:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns a paginated list of all analysis runs associated with this analysis"
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of analysis runs to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of analysis runs to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: "List of information on analysis runs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnalysisRunInformation"
        '404':
          description: "If the analysis is not found, 404 is returned."
  
  /analyses/{analysisName}/runs/{runId}:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns information on an analysis run with the given name"
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
        - name: runId
          description: "Unique id of the analysis run"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Analysis Run Information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisRunInformation"
        '404':
          description: "If the analysis or the analysis run are not found, 404 is returned."
          
  /analyses/{analysisName}/runs/{runId}/inputs:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns a paginated list of program entities that were input into the given analysis run"
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
        - name: runId
          description: "Unique id of the analysis run"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of results to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of results to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: "List of program entities used as inputs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProgramEntity"
        '404':
          description: "If the analysis or the analysis run are not found, 404 is returned."
          
  /analyses/{analysisName}/runs/{runId}/results:
    get:
      tags: ["Analysis Related Information"]
      description: "Returns a paginated list of analysis results associated with the given analysis run"
      parameters:
        - name: analysisName
          description: "Unique name of the analysis"
          in: path
          required: true
          schema:
            type: string
        - name: runId
          description: "Unique id of the analysis run"
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "Pagination: Number of results to skip"
          in: header
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          description: "Pagination: Number of results to retrieve"
          in: header
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: ""
        '404':
          description: "If the analysis or the analysis run are not found, 404 is returned."
  
          
  /processing/enqueuePackage:
    post:
      tags: ["Processing Related Enpoints"]
      description: ""
      responses:
        '200':
          description: ""
  
  /processing/runAnalysis:
    post:
      tags: ["Processing Related Enpoints"]
      description: ""
      responses:
        '200':
          description: ""

components:
  schemas:
    StringList:
      type: array
      items:
        type: string
        
    AnalysisInformation:
      type: object
      required: ['Name', 'Description', 'Version', 'IsAvailable', 'IsValid', 'InputEntityKind', 'InputLanguages', 'ResultSchema']
      properties:
        'Name':
          type: string
        'Description':
          type: string
        'Version':
          type: string
        'TechnologyInformation':
          type: string
        'IsAvailable':
          type: boolean
        'IsValid':
          type: boolean
        'InputEntityKind':
          type: string
        'InputLanguages':
          $ref: '#/components/schemas/StringList'
        'ResultSchema':
          type: object
    
    AnalysisRunInformation:
      type: object
      required: ['Id', 'AnalysisName']
      properties:
        'Id':
          type: string
        'Configuration':
          type: object
        'Logs':
          $ref: '#/components/schemas/StringList'
        'AnalysisName':
          type: string
    
    ProgramEntity:
      type: object
      required: ['Name', 'Identifier', 'language', 'EntityKind']
      properties:
        'Name':
          type: string
        'Identifier':
          type: string
        'EntityKind':
          type: string
        'Language':
          type: string
        'Parent':
          type: string
    
    
    ConditionallyActiveElementEntry:
      type: object
      properties:
        'alwaysActive':
          type: boolean
        'activeIn':
          type: array
          items:
            type: string
        
    PackageInformation:
      type: object
      properties:
        'classes':
          $ref: '#/components/schemas/StringList'
        'versions':
          $ref: '#/components/schemas/StringList'
        'name':
          type: string
    
    PackageClassList:
      type: array
      items:
        type: object
        properties:
          'thisType':
            type: string
          'alwaysActive':
            type: boolean
          'activeIn':
            $ref: '#/components/schemas/StringList'
    
    PackageClassInformation:
      type: object
      properties:
        'thisType':
          type: string
        'activeIn':
          $ref: '#/components/schemas/StringList'
        'superTypes':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
        'flags':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
        'methods':
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConditionallyActiveElementEntry'
          
        
  